@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

/*
Colors:
    Hex:
            =>      R  G  B
            =>      00 00 00        => 000;
            =>      99 99 99        => 999;
            =>      aa aa aa        => aaa;
            =>      ff ff ff        => fff;

    RGB/RGBa:
            =>      rgb(0, 0, 0);               => Black Color
            =>      rgb(255, 255, 255);         => White Color
            =>      rgba(0, 0, 0, 0/1);         => Black with Transparency
            =>      rgba(255, 255, 255, 0/1);   => White with Transparency
*/

:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #373737;
	--red: #ff4858;
	--blue: #40bfff;
	--skyBlue: #bcddfe;
	--gray: #999999;
	--lightGray: #eeeeee;

	--blueHover: #62c7fad2;
	--blueFocus: #2697cf;
	--skyBlue: #bcddfe;
	--grayHover: #afafaf;
	--grayFocus: #7c7a7a;
	--green: #36bc74;
	--pink: rgb(255, 6, 130);
	--yellow: #ffbc3e;

	/* Font Size */
	--fontSize: 14px;
	--fontSizeSm: 16px;
	--fontSizeMd: 20px;
	--fontSizeLg: 24px;
	--fontSizeXl: 30px;
}

html {
	scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: "Poppins", sans-serif;
	font-size: var(--fontSize);
	line-height: 22px;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/* Typography CSS */
a {
	text-decoration: none;
}

a:link,
a:focus,
a:hover {
	color: black;
}

a:visited {
}

p + p {
	margin-top: 15px;
	margin-bottom: 0;
}

select {
	border: 0;
	border-radius: 0;
	font-size: var(--fontSizeMd);
	padding: 5px 10px;
}

/* Helper Class CSS */
.row:after,
.clearfix::after,
.container::after {
	content: "";
	display: table;
	width: 100%;
}

.container {
	max-width: 1265px;
	margin: 0 auto;
	padding: 0 15px;
	outline: 1px solid red;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.d-none {
	display: none !important;
}

.text-muted {
	color: var(--gray) !important;
}

/* Header */
header {
	font-size: var(--fontSizeMd);
	position: relative;
}

header .min-header {
	border-bottom: 1px solid var(--lightGray);
	padding: 15px 0;
}

.min-header .config {
	float: left;
}

/* User Config */
.min-header .config .dropdown {
	float: left;
}

.min-header .config .dropdown + .dropdown {
	margin-left: 15px;
}

/* User Account */
.min-header .user-account {
	float: right;
}

.user-account .menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-account .menu li {
	float: left;
}

.user-account .menu li:not(:last-child) {
	margin-right: 10px;
}

/* .user-account .menu li:last-child {
  margin-right: 0;
} */

.user-account .menu a {
	color: var(--dark);
	display: block;
	padding: 5px 10px;
}

.user-account .menu span + span {
	margin-left: 20px;
}

/* Navbar CSS */
.navbar {
	padding: 30px 0;
}

.navbar .nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar .nav li {
	float: left;
}

.navbar .nav li:not(:first-child) {
	margin-left: 70px;
}

.navbar .nav .nav-link {
	font-size: var(--fontSizeLg);
	line-height: 36px;
	padding: 0 10px;
}

.navbar .nav .nav-link:link,
.navbar .nav .nav-link:visited {
	color: var(--dark);
}

.navbar .nav .nav-link:hover,
.navbar .nav .nav-link:focus,
.navbar .nav .nav-link.active,
.navbar .nav .active .nav-link {
	color: var(--blue);
}
.nav-item .badge {
	background-color: var(--red);
	border-radius: 50%;
	color: white;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	margin-left: -10px;
	position: absolute;
	vertical-align: top;
	width: 20px;
	text-align: center;
	top: 10px;
}
/* dropdown-content */
th {
	font-family: "Poppins";
	font-style: medium;
	font-size: 22px;
	line-height: 33px;
	vertical-align: top;
	color: var(--gray);
	padding: 15px;
}
td {
	color: black;
	font-family: "Poppins";
	font-size: 16px;
	line-height: 24px;
	vertical-align: top;
	padding-right: 10px;
	padding: 15px;
}
td:hover {
	color: var(--blue);
}

.dropdownn {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	background-color: var(--white);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	display: none;
	height: 400px;
	position: absolute;
	width: 800px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	display: block;
	text-decoration: none;
}

.dropdownn:hover .dropdown-content {
	display: block;
}

/* Logo */

.brand {
	color: var(--dark);
	font-family: "Poppins";
	font-weight: 700;
	font-size: 18px;
	height: 27px;
	line-height: 36px;
	text-align: left;
	vertical-align: top;
	width: 84px;
}
.logo {
	background-color: var(--blue);
	border-radius: 16px;
	display: inline-block;
	height: 44px;
	margin: auto;
	vertical-align: middle;
	width: 44px;
}

.logo::after {
	align-items: center;
	border: 8px solid white;
	border-radius: 5px;
	content: "";
	display: block;
	height: 6px;
	margin: auto;
	margin-top: 11px;
	padding-top: px;
	width: 6px;
	transform: rotate(45deg);
}
/* Card CSS */
/* CARD1 */

.card {
	float: left;
}
.card::after {
	content: "";
	display: table;
	width: 100%;
}
.card-image {
	line-height: 0;
	position: relative;
}

.card-title {
	color: #223263;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 150%;
	position: absolute;
	top: 300px;
	left: 170px;
}
.discount {
	bottom: 120px;
	left: 170px;
	position: absolute;
}
.old-price {
	color: var(--gray);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.5px;
	padding-right: 10px;
	text-decoration-line: line-through;
}
.off {
	color: var(--red);
	font-family: Poppins;
	font-style: normal;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.price {
	bottom: 80px;
	color: var(--blue);
	font-family: Raleway;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	left: 170px;
	letter-spacing: 0.5px;
	line-height: 180%;
	padding-left: 250px;
	position: absolute;
}
/* CARD2 */
.card-image2 {
	position: relative;
}
.card-title2 {
	color: #223263;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 150%;
	position: absolute;
	top: 300px;
	left: 600px;
}
.discount2 {
	bottom: 80px;
	left: 700px;
	position: absolute;
}
.price2 {
	bottom: 320px;
	color: var(--blue);
	font-family: Raleway;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	left: 600px;
	letter-spacing: 0.5px;
	line-height: 180%;
	padding-left: 250px;
	position: absolute;
}
/* CARD3 */
.card-image3 {
	position: relative;
}
.card-title3 {
	color: #223263;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 150%;
	position: absolute;
	top: 300px;
	left: 1030px;
}
.discount3 {
	bottom: 290px;
	left: 1030px;
	position: absolute;
}
.price3 {
	bottom: 80px;
	color: var(--blue);
	font-family: Raleway;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	left: 1000px;
	letter-spacing: 0.5px;
	line-height: 180%;
	padding-left: 250px;
	position: absolute;
}
/* search */
/* Search Field */

.search-btn {
	border-radius: 0px;
	height: 62px;
	line-height: 20px;
	min-width: 130px;
	margin-top: 0;
	margin-left: 505px;
	padding: 22px 10px;
	position: relative;
}

.search {
	border-color: var(--blue);
	border-radius: 4px;
	height: 62px;
	min-width: 635px;
	padding-top: 16px;
	padding-right: 0;
	position: absolute;
	text-align: left;
}
/* footer */
.footer-brand {
	padding-left: 200px;
}
.footer-content {
	font-size: 12px;
	font-weight: 400;
	height: 75px;
	line-height: 14px;
	width: 221px;
}

footer {
	background-color: var(--skyBlue);

	padding-top: 150px;
	padding-left: 20px;
	padding-bottom: 120px;
	margin-top: 200px;
}
.footer-info {
	padding-top: 80px;
	margin: 0 auto;
	min-width: 1400px;
	vertical-align: center;
	padding-left: 100px;
	background-color: var(--skyBlue);
}
.footer-info tr {
	background-color: var(--skyBlue);
}
.footer-info th {
	color: var(--black);
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	vertical-align: top;
}
.footer-info td {
	color: var(--black);
	font-family: "Poppins";
	font-size: 14px;
	font-weight: 400;
	line-height: 0px;
	letter-spacing: 0.5px;
	vertical-align: top;
	background-color: var(--skyBlue);
}
.footer th:not(:last-child) {
	width: 262px;
}
/* follow-us */
.follow-us {
	padding-left: 600px;
	margin: 0 auto;
	margin-top: -120px;
}

.follow-us-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
}
.follow-us-content {
	font-size: 12px;
	font-weight: 400;
	height: 45px;
	line-height: 14px;
	margin-top: 12px;
	width: 198px;
}
/* contact-us */
.contact-us {
	padding-left: 1000px;
	margin: 0 auto;
	margin-top: -85px;
}
.contact-us-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
}
.contact-us-content {
	font-size: 12px;
	font-weight: 400;
	height: 63px;
	line-height: 14px;
	margin-top: 12px;
	width: 148px;
}
/* follow-us */
.follow-us {
	padding-left: 600px;
	margin: 0 auto;
	margin-top: -120px;
}

.follow-us-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
}
.follow-us-content {
	font-size: 12px;
	font-weight: 400;
	height: 45px;
	line-height: 14px;
	margin-top: 12px;
	width: 198px;
}
/* contact-us */
.contact-us {
	padding-left: 1000px;
	margin: 0 auto;
	margin-top: -85px;
}
.contact-us-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
}
.contact-us-content {
	font-size: 12px;
	font-weight: 400;
	height: 63px;
	line-height: 14px;
	margin-top: 12px;
	width: 148px;
}
/* facebook twiTter logo */
.fb-twitter-logo {
	padding-left: 700px;
	padding-top: 50px;
}
.facebook {
	padding-right: 30px;
}

.footer-bar {
	background-color: var(--white);
	height: 2px;
	width: 1180px;
	margin-left: 150px;
	margin-top: 50px;
}
.footer-cards-logo {
	padding-left: 1000px;
	padding-top: 20px;
}

/* Search Field */

.btn {
	border: 0;
	background-color: var(--blue);
	border-radius: 5px;
	box-shadow: none;
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;

	min-width: 340px;
	line-height: 24px;
	outline: none;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
}

.btn:hover,
.btn.has-hover {
	background-color: var(--blueHover);
}

.btn:focus,
.btn.has-focus {
	background-color: var(--blueFocus);
}

.btn.disabled,
.btn:disabled {
	cursor: not-allowed;
	opacity: 0.8;
}

.btn.disabled,
.btn:disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn:hover:disabled,
.btn:focus:disabled {
	background-color: var(--gray);
	cursor: not-allowed;
	opacity: 0.8;
}

/* Form CSS Style */
option {
	align-items: flex-end;
	color: var(--black);
	display: flex;
	font-family: Raleway;
	font-size: 12px;
	margin-bottom: 7px;
	text-transform: capitalize;
}
.sizeSelect {
	align-items: flex-end;
	color: var(--black);
	background-color: var(--lightGray);
	display: inline-block;
	font-family: Raleway;
	font-size: 14px;
	margin-bottom: 7px;
	text-transform: capitalize;
	margin: 0;
	margin-left: 70px;
	padding: 5px;
	border-radius: 2px;
}
.input {
	border: 1px solid var(--black);
	display: block;
	height: 73px;
	line-height: 22px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px 25px;
	width: 300px;
}

.textarea {
	height: 230px;
}

input::placeholder,
textarea::placeholder {
	align-items: flex-end;
	color: var(--gray);
	display: flex;
	font-family: Raleway;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: capitalize;
}

.email::placeholder {
	text-transform: lowercase;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px solid var(--blue);
	box-sizing: border-box;
	border-radius: 0px 3px 3px 0px;
}

input:hover,
textarea:hover {
	filter: drop-shadow(0 0 2px var(--blue));
}
.search-btn {
	border-radius: 2px;
	height: 73px;
	line-height: 20px;
	min-width: 120px;
	margin-top: 0px;
	margin-left: 400px;
	padding: 22px 10px;
	position: relative;
}
.searchQ {
	margin-left: 500px;
	margin-top: 70px;
}

.search {
	border-color: var(--blue);
	border-radius: 1px;
	height: 62px;
	min-width: 400px;
	padding-top: 16px;
	padding-right: 0;
	position: absolute;
	text-align: left;
	outline: solid 2px var(--blue);
}
.search-bar {
	padding-left: 450px;
	padding-top: 100px;
}
/* feature-products */
.feature-product-heading {
	width: 400px;
	height: 53px;
	margin-top: 300px;
	text-align: center;
	margin: 0 auto;
	font-weight: 600px;
	font-size: 34px;
}
.imageContainer {
	border-radius: 5px;
	padding-top: -50px;
	display: block;
	width: 420px;
	height: 155px;
	float: left;
}
.imageContainer2 {
	border-radius: 5px;
	padding-top: -50px;
	float: left;
	width: 420px;
	height: 155px;
	display: block;
}
.imageContainer3 {
	border-radius: 5px;
	padding-top: -50px;
	float: left;
	width: 420px;
	height: 155px;
	display: block;
}
.prod2 {
	margin-top: 10px;
	margin-right: 140px;
}
.checked {
	color: orange;
}

.vectorText {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: var(--dark);
	margin-left: 180px;
	margin-top: -160px;
	margin-bottom: 160px;
	width: 180px;
	height: 54px;
}
.checkedStarss {
	margin-left: 180px;
	margin-top: -140px;
	position: relative;
}
.vectorImgText4 {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.5px;
	text-decoration-line: line-through;
	color: #9098b1;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 8px;
	float: right;
}
.vectorImgText5 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.5px;
	color: var(--red);
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 8px;
	float: right;
}
/* footer muted */
.footer-mutedtext {
	color: var(--gray);
	font-weight: 400;
	font-size: 14px;
	height: 17px;
	line-height: 17.05px;
	margin-top: 10px;
	margin-left: 150px;
	width: 311px;
}
/* LATEST PRODUCTS */
.containerBlock {
	width: 420px;
}
.containerBlock2 {
	width: 420px;
	float: left;
}
.containerBlock3 {
	width: 420px;
	float: left;
}

.containerBlock div {
	float: left;
}
.containerBlock2 div {
	float: left;
}
.containerBlock3 div {
	float: left;
}
.containerBlock .containeraside {
	width: 180px;
}
.containerBlock3 .containeraside {
	width: 180px;
}
.containerBlock2 .containeraside {
	width: 180px;
}

.containerBlock .containerContent {
	width: 240px;
}
.containerBlock2 .containerContent {
	width: 240px;
}
.containerBlock3 .containerContent {
	width: 240px;
}
.date {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #c1c8ce;
}

.containerBlock div::after {
	content: "";
	display: table;
	width: 100%;
}
.iconShipping2 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 20px;
	color: var(--black);
}
.iconPara {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	height: 64px;
	width: 193px;
	color: var(--black);
	margin-bottom: 20px;
}
.nike {
	padding-top: 60px;
	padding-left: 10px;
}
/* icon */
.truck {
	color: var(--red);
	width: 100px;
	height: 65px;
	font-size: 100px;
	margin-left: 80px;
	padding-top: 10px;
}
.refund {
	color: var(--red);
	width: 100px;
	height: 65px;
	font-size: 100px;
	margin-left: 80px;
	padding-top: 10px;
}
.support {
	color: var(--red);
	width: 100px;
	height: 65px;
	font-size: 100px;
	margin-left: 80px;
	padding-top: 10px;
}
.iconShipping {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 40px;
	margin-left: 50px;

	color: var(--black);
}
.iconPara2 {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	margin-left: 50px;

	color: var(--black);
}
.alignTruck,
.alignRefund,
.alignSupport {
	margin-right: 180px;
	float: right;
}

/* running bar */
.containerBar {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 15px;
	height: 600px;
	background-color: var(--blue);
}
.captionDiv {
	width: 571px;
	height: 166px;
	padding-top: 160px;
	padding-left: 80px;
}
.caption {
	font-weight: 500;
	font-family: "Poppins";
	color: var(--white);
	font-size: 55px;
	margin: 0 auto;
	line-height: 73px;
}
.contentDiv {
	width: 592px;
	height: 36px;
	padding-top: 160px;
	padding-left: 80px;
}
.contentCaption {
	font-weight: 400;
	font-family: "Poppins";
	color: var(--white);
	font-size: 20px;
	margin: 0 auto;
	line-height: 36px;
}
.contentBold {
	font-weight: 600;
	font-family: "Poppins";
	color: var(--white);
	font-size: 20px;
	margin: 0 auto;
	line-height: 36px;
}
.shoeeImg {
	margin-left: 700px;
	margin-top: -400px;
}
.barRunning {
	height: 3px;
	width: 75px;
	background-color: var(--white);
}
/* best seller */
.prod {
	margin-right: 910px;
	margin-top: 15px;
}
.checked {
	color: orange;
}
.checkedStars {
	margin-left: 120px;
	margin-top: 10px;
}
/* list grid */
/* Deal Bar */
.dealBar {
	background-color: var(--lightGray);
	color: var(--dark);
	font-size: 18px;
	line-height: 22px;
	height: 50px;
	opacity: 0.7;
	padding: 14.5px;
	text-align: center;
	width: 100%;
	color: var(--blue);
}

.dealbarText {
	color: var(--black);
}
/* Filters */

.filters {
	margin: 20px 0;
	background-color: var(--lightGray);
}

.filters span {
	padding: 10px 30px;
}

.filters span:hover {
	color: var(--blue);
}

.selectt {
	background-color: rgb(243, 242, 242);
	border: none;
	color: var(--grayFocus);
	cursor: pointer;
	position: relative;
	font-size: 14px;
	padding: 9px 16px;
	text-align: left;
	width: 80%;
	height: 60px;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--lightGray);
	color: var(--dark);
	text-align: center;
	max-width: fit-content;
}

.dropdown-content a {
	color: var(--dark);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover {
	background-color: var(--white);
	color: var(--blue);
}

.filter-icons {
	float: right;
	font-size: 24px;
	padding: 24px 20px;
	color: var(--gray);
}

/* Aside Components */

table {
	width: 240px;
}

table,
tr,
td {
	background-color: var(--lightGray);
	margin: 0 auto;
	padding: 10px;
	/* text-align: right; */
	vertical-align: top;
}

tr {
	margin-bottom: 15px;
}

table {
	border-spacing: 6px;
}

tr:hover {
	color: var(--blue);
}

tr:first-child {
	color: var(--dark) !important;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	margin-bottom: 15px;
}

td:first-child {
	text-align: left;
}

.cir-color {
	border-radius: 50%;
	background-color: blue;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.selectColor {
	width: 250px;
	height: 50px;
	vertical-align: top;
	margin-top: -220px;
	margin-left: 320px;
}
.selectColorText {
	vertical-align: top;
	padding-right: 10px;
}
.selectColor div {
	display: inline-block;
}
.cir-color:hover,
.cir-color:focus {
	border: 1px solid var(--dark);
}

.blue:hover {
	filter: drop-shadow(0 0 2px var(--blue));
}

.red {
	background-color: red;
}

.red:hover {
	filter: drop-shadow(0 0 2px var(--red));
}

.red:focus {
	border: 1px solid var(--black);
}
.black:hover {
	filter: drop-shadow(0 0 2px var(--black));
}

.black {
	background-color: var(--dark);
}
.green:hover {
	filter: drop-shadow(0 0 2px var(--green));
}
.green {
	background-color: var(--green);
}
.pink:hover {
	filter: drop-shadow(0 0 2px var(--pink));
}

.pink {
	background-color: var(--pink);
}
.yellow:hover {
	filter: drop-shadow(0 0 2px var(--yellow));
}

.yellow {
	background-color: yellow;
}

.more {
	background-color: var(--lightGray);
	border-radius: 4px;
	color: var(--dark);
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	min-width: 240px;
	padding: 10px 0px;
}

.more:hover {
	background-color: var(--grayHover);
}

.more:focus {
	background-color: var(--gray);
}

.range {
	font-size: 14px;
}

.slider-range {
	width: 100%;
}
.fullBlock {
	width: 80%;
}
.asidee {
	width: 37%;
}
.fullBlock .contentt {
	margin: 0 auto;
	padding-left: 70px;
}
.fullBlock .contenttt {
	/* height: 1000px; */
	margin: 0 auto;
	padding-left: 900px;
	width: 25%;
	vertical-align: top;
	margin-top: -650px;
	margin-bottom: 300px;
}
.content::after {
	content: "";
	display: table;
	width: 100%;
}
/* running bar */
.containerBar {
	max-width: 961px;
	margin: 30px auto;
	padding: 0 15px;
	height: 297px;
	background-color: var(--blue);
}
.captionDiv {
	width: 350px;
	height: 136px;
	padding-top: 60px;
	padding-left: 80px;
}
.caption {
	font-weight: 500;
	font-family: "Poppins";
	color: var(--white);
	font-size: 30px;
	margin: 0 auto;
	line-height: 45px;
}
.contentDiv {
	width: 350px;
	height: 35px;
	padding-top: 30px;
	padding-left: 80px;
}
.contentCaption {
	font-weight: 400;
	font-family: "Poppins";
	color: var(--white);
	font-size: 14px;
	margin: 0 auto;
	line-height: 21px;
}
.contentBold {
	font-weight: 600;
	font-family: "Poppins";
	color: var(--white);
	font-size: 16px;
	margin: 0 auto;
	line-height: 36px;
}
.shoeeImg {
	margin-left: 450px;
	margin-top: -200px;
}
.barRunning {
	height: 3px;
	width: 75px;
	background-color: var(--white);
}
.imageContainerr {
	border-radius: 5px;
	margin-top: -100px;
	width: 100%;
}
.imageContainerr2 {
	border-radius: 5px;
	padding-top: 200px;
	width: 100%;
}
.imageContainerr3 {
	border-radius: 5px;
	padding-top: 200px;

	width: 100%;
}
.productImgTextt {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #22262a;
	margin-left: 320px;
	margin-top: -470px;
	margin-bottom: 270px;
}
.checkedStarsss {
	margin-left: 323px;
	margin-top: -260px;
	margin-bottom: 260px;
}
.productPricing {
	margin-right: 400px;
	/* margin-botto: -10px; */
}
.reviews {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #c1c8ce;
	padding-left: 430px;
	margin-top: -280px;
	margin-bottom: 280px;
}
.submitReview {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: var(--blue);
	padding-left: 500px;
	margin-top: -296px;
	margin-bottom: 296px;
}
.submitPara {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 36px;
	width: 100%;
	color: #262626;
	padding-left: 320px;
	margin-top: -240px;
	margin-bottom: 240px;
}
.cartButton {
	width: 150px;
	height: 46px;
	background-color: rgb(213, 243, 243);
	margin-left: 320px;
	margin-top: -220px;
	margin-bottom: 220px;
	cursor: pointer;
}
.cartBtnText {
	color: var(--blue);
	text-align: center;
	padding: 10px;
	margin-top: -30px;
}
.cartButton:hover {
	background-color: #bceffe;
}
.cartIcon {
	color: var(--blue);
	font-size: 22px;
	padding-top: 10px;
	padding-left: 3px;
}
.heartButton {
	width: 46px;
	height: 46px;
	background-color: rgb(213, 243, 243);
	margin-left: 490px;
	margin-top: -265px;
	margin-bottom: 220px;
	cursor: pointer;
}
.heartButton:hover {
	background-color: #bceffe;
}

.heartIcon {
	color: var(--blue);
	font-size: 22px;
	padding-left: 12px;
	padding-top: 12px;
}
.productImgText2 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.5px;
	color: #223263;
	margin-left: 40px;
}
.productImgText3 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 180%;
	letter-spacing: 0.5px;
	color: var(--blue);
	float: right;
	margin-top: -8px;
}
.productImgText4 {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.5px;
	text-decoration-line: line-through;
	color: #9098b1;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 8px;
	float: right;
}
.productImgText5 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.5px;
	color: var(--red);
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 8px;
	float: right;
}
.checkedStarsss {
	margin-left: 323px;
	margin-top: -260px;
	margin-bottom: 260px;
}
/* DETAIL PAGE */
.detailImg {
	margin-top: 100px;
}
.detailBar {
	background-color: var(--lightGray);
	height: 2px;
	width: 300px;
}
.size {
	margin-left: 320px;
	margin-top: -20px;
}
.cart-heart {
	margin-top: 175px;
	padding-left: 120px;
}

/* button */
.btnFb {
	width: 244px;
	height: 58px;
	background-color: #385c8e;
	margin: 10px;
	display: inline-block;
	margin-top: -500px;
}
.btnTwitter {
	width: 244px;
	height: 58px;
	background-color: #03a9f4;
	margin: 10px;
	display: inline-block;
	margin-top: -500px;
}
.fb-twitter {
	display: inline-block;
	margin-left: 300px;
}
.fbText {
	font-family: "Poppins";
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	color: var(--white);
	padding: 18px;
}
.fb-twitter-l {
	padding-right: 5px;
}
.twitterText {
	font-family: "Poppins";
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	color: var(--white);
	padding: 18px;
}
.bestseller {
	display: inline-block;
	width: 90px;
	height: 23px;
	font-weight: 400;
	font-size: 16px;
	color: var(--grayHover);
	padding-bottom: 30px;
}
.seller {
	padding-left: 40px;
}

.inc,
.dec {
	margin: 0 17px;
	color: var(--blue);
}
.noOfProduct {
	width: 110px;
	height: 45px;
	background-color: var(--lightGray);
	padding: 10px;
	margin-left: 310px;
	margin-top: 33px;
	border-radius: 2px;
}
/* footer */
.footer-con {
	width: 100%;
	padding-left: 200px;
	padding-top: 100px;
}
.footerDiv,
.footerDiv2,
.footerDiv3,
.footerDiv4 {
	width: 20%;
	display: inline-block;
	margin-right: 50px;
}
.footerHead {
	color: var(--black);
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	vertical-align: top;
	margin: 20px 0;
}
/* checkout */
.voucher {
	padding-top: 30px;
	margin: 0 20px;
}
.checkoutHeading {
	font-family: "Poppins";
	font-size: 22px;
	vertical-align: top;
	line-height: 30px;
	color: var(--black);
	font-weight: 500;
}
.prodCheckout1 {
	margin-left: 10px;
	margin-right: 600px;
}
.prodCheckout2,
.prodCheckout3 {
	padding-right: 100px;
}
.checkoutBar {
	width: 100%;
	height: 2px;
	background-color: var(--lightGray);
	margin: 30px 0;
}
.img1text {
	text-align: center;
	font-family: "Poppins";
	vertical-align: top;
	line-height: 30px;
	color: var(--black);
	font-size: 18px;
	color: var(--black);
	font-weight: 400;
	width: 197px;
	height: 27px;
	margin: 0 20px;
}
.checkoutPrice {
	vertical-align: top;
	margin-left: 340px;
}
.checkoutUnitPrice {
	vertical-align: top;
	margin-left: 100px;
}
.qty {
	width: 110px;
	height: 45px;
	background-color: var(--lightGray);
	padding: 10px;
	border-radius: 2px;
	vertical-align: top;
	margin-left: 80px;
}
.checkoutDetails {
	margin-left: 900px;
	padding-right: 100px;
	line-height: 42px;
}
.subtotal,
.subtotalNum {
	vertical-align: top;
	padding-right: 60px;
}
.shippingfee,
.shippingfeeNum {
	vertical-align: top;
	padding-right: 40px;
}
.coupon,
.couponNum {
	vertical-align: top;
	padding-right: 75px;
}
.total,
.totalNum {
	vertical-align: top;
	padding-right: 40px;

	font-family: "Poppins";
	line-height: 30px;
	font-size: 30px;
	font-weight: 500;
}
.rowBar {
	width: 370px;
	height: 2px;
	background-color: var(--lightGray);
	margin-left: 800px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.checkoutBtn {
	width: 324px;
	height: 60px;
	background-color: var(--blue);
	margin-left: 840px;
	color: var(--white);
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	border-radius: 5px;
}
/* contact */
.contactAside {
	width: 50%;
	vertical-align: left;
	margin: 100px 0;
	margin-right: 50px;
}
.contactContent {
	width: 50%;
}
.asideDiv {
	width: 662px;
	height: 715px;
	background-color: var(--blue);
}

.block {
	float: right;
}
.block::after {
	content: "";
	display: block;
	width: 100%;
}
.callImg {
	line-height: 0px;
	height: 715px;
}
/* Form CSS Style */
label {
	align-items: flex-end;
	color: var(--black);
	display: flex;
	font-family: Raleway;
	font-size: 14px;
	margin-bottom: 7px;
	line-height: 16px;
	text-transform: capitalize;
	font-family: "Poppins";
}

.input {
	border: 1px solid var(--black);
	display: block;
	height: 73px;
	line-height: 22px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px 25px;
	width: 510px;
}

.textarea {
	height: 230px;
}

input::placeholder,
textarea::placeholder {
	align-items: flex-end;
	color: var(--gray);
	display: flex;
	font-family: Raleway;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: capitalize;
}

.email::placeholder {
	text-transform: lowercase;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px solid var(--blue);
	box-sizing: border-box;
	border-radius: 0px 3px 3px 0px;
}

input:hover,
textarea:hover {
	filter: drop-shadow(0 0 2px var(--blue));
}
