@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

/*
Colors:
    Hex:
            =>      R  G  B
            =>      00 00 00        => 000;
            =>      99 99 99        => 999;
            =>      aa aa aa        => aaa;
            =>      ff ff ff        => fff;

    RGB/RGBa:
            =>      rgb(0, 0, 0);               => Black Color
            =>      rgb(255, 255, 255);         => White Color
            =>      rgba(0, 0, 0, 0/1);         => Black with Transparency
            =>      rgba(255, 255, 255, 0/1);   => White with Transparency
*/

:root {
    --white: #ffffff;
    --milk: #f3f3f3;
    --black: #000000;
    --dark: #373737;
    --red: #ff4858;
    --green: #44a830;
    --greenHover: #398f28;
    --blue: #40bfff;
    --blueHover: #2ca5e2;
    --skyBlue: #bcddfe;
    --gray: #999999;
    --lightGray: #e0e0e0;

    /* Font Size */
    --fontSize: 14px;
    --fontSizeSm: 16px;
    --fontSizeMd: 20px;
    --fontSizeLg: 24px;
    --fontSizeXl: 30px;
}

html {
    scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: var(--fontSize);
    line-height: 22px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Typography CSS */
a {
    text-decoration: none;
}

a:link,
a:focus,
a:hover {
    color: black;
}

a:visited {
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
    margin-bottom: 0;
}

select {
    border: 0;
    border-radius: 0;
    font-size: var(--fontSizeMd);
    padding: 5px 10px;
}

/* CSS Grid */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px solid var(--red); */
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    width: 100%;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6665%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3331%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

.col-offset-1 {
    margin-left: 8.3333%;
}

.col-offset-2 {
    margin-left: 16.6666%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.3333%;
}

.col-offset-5 {
    margin-left: 41.6665%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.3331%;
}

.col-offset-8 {
    margin-left: 66.6666%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.3333%;
}

.col-offset-11 {
    margin-left: 91.6666%;
}

/* CSS Helper Classes */
.row:after,
.clearfix::after,
.container::after {
    content: "";
    display: table;
    width: 100%;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.bg-danger {
    background-color: var(--red) !important;
    color: var(--white);
}

.bg-primary {
    background-color: var(--blue) !important;
}

.bg-success {
    background-color: var(--green) !important;
    color: var(--white);
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-light {
    background-color: var(--lightGray) !important;
}

.bg-milk {
    background-color: var(--milk) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
    color: var(--white);
}

.text-muted {
    color: var(--gray) !important;
}

.text-danger {
    color: var(--red);
}

.text-success {
    color: var(--green);
}

.text-primary {
    color: var(--blue);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.py-2 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.py-3 {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

.py-4 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 15px !important;
}

.mt-2 {
    margin-top: 30px !important;
}

.mt-3 {
    margin-top: 45px !important;
}

.mt-4 {
    margin-top: 60px !important;
}

/* Header */
header {
    font-size: var(--fontSizeMd);
    position: relative;
}

header .min-header {
    border-bottom: 1px solid var(--lightGray);
    padding: 15px 0;
}

.min-header .config {
    float: left;
}

/* User Config */
.min-header .config .dropdown {
    float: left;
}

.min-header .config .dropdown + .dropdown {
    margin-left: 15px;
}

/* User Account */
.min-header .user-account {
    float: right;
}

.user-account .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-account .menu li {
    float: left;
}

.user-account .menu li:not(:last-child) {
    margin-right: 10px;
}

/* .user-account .menu li:last-child {
  margin-right: 0;
} */

.user-account .menu a {
    color: var(--dark);
    display: block;
    padding: 5px 10px;
}

.user-account .menu span + span {
    margin-left: 20px;
}

/* Navbar CSS */
.navbar {
    padding: 30px 0;
}

.navbar .nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav li {
    float: left;
}

.navbar .nav li:not(:first-child) {
    margin-left: 70px;
}

.navbar .nav .nav-link {
    font-size: var(--fontSizeLg);
    line-height: 36px;
    padding: 0 10px;
}

.navbar .nav .nav-link:link,
.navbar .nav .nav-link:visited {
    color: var(--dark);
}

.navbar .nav .nav-link:hover,
.navbar .nav .nav-link:focus,
.navbar .nav .nav-link.active,
.navbar .nav .active .nav-link {
    color: var(--blue);
}

/* Card CSS */
.card {
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    position: relative;
}

.card-header {
    background-color: var(--milk);
    padding: 25px 15px;
    /* margin-bottom: 25px; */
}

.card-title {
    margin: 0;
    padding: 0;
}

.card-image {
    height: 200px;
    overflow: hidden;
    /* margin-bottom: 25px; */
    position: relative;
}

.card-image img {
    height: 200px;
    object-fit: cover;
    object-position: top;
    max-width: 100%;
    width: 100%;
}

.card-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 100px 15px;
    text-align: center;
}

.card-overlay h1,
.card-overlay p {
    margin: 30px 0;
}

.card-body {
    padding: 15px;
}

.card-footer {
    background-color: var(--milk);
    padding: 25px 15px;
}

.card-footer .btn {
    min-width: 110px;
}

.card.card-lg .card-image,
.card.card-lg .card-image img {
    height: 500px;
}

/* Button CSS Style */
.btn {
    border: 0;
    background-color: var(--lightGray);
    border-radius: 5px;
    box-shadow: none;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.btn:hover,
.btn.has-hover {
    background-color: var(--gray);
}

.btn:focus,
.btn.has-focus {
    background-color: var(--gray);
}

.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.btn.disabled,
.btn:disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn:hover:disabled,
.btn:focus:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
    opacity: 0.8;
}

.btn.btn-primary {
    background-color: var(--blue);
}

.btn.btn-success {
    background-color: var(--green);
    color: var(--white);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: var(--blueHover);
}

.btn.btn-success:hover,
.btn.btn-success:focus {
    background-color: var(--greenHover);
}

/* Feature CSS Style */
.feature {
    background-color: var(--skyBlue);
}
