@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

/*
Colors:
    Hex:
            =>      R  G  B
            =>      00 00 00        => 000;
            =>      99 99 99        => 999;
            =>      aa aa aa        => aaa;
            =>      ff ff ff        => fff;

    RGB/RGBa:
            =>      rgb(0, 0, 0);               => Black Color
            =>      rgb(255, 255, 255);         => White Color
            =>      rgba(0, 0, 0, 0/1);         => Black with Transparency
            =>      rgba(255, 255, 255, 0/1);   => White with Transparency
*/

:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #373737;
	--red: #ff4858;
	--pink: #fb7181;
	--blue: #40bfff;
	--blueHover: #79d0fc;
	--blueFocus: #00aaff;
	--skyBlue: #bcddfe;
	--fb: #385c8e;
	--fbHover: #507cbb;
	--fbFocus: #274268;
	--darkBlue: #223263;
	--gray: #999999;
	--grayHover: #bbbbbb;
	--grayFocus: #777777;
	--green: #36bc74;
	--lightGray: #eeeeee;
	--yellow: #ffc600;

	/* Font Size */
	--fontSize: 14px;
	--fontSizeSm: 16px;
	--fontSizeMd: 20px;
	--fontSizeLg: 24px;
	--fontSizeXl: 30px;
}

html {
	scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: "Poppins", sans-serif;
	font-size: var(--fontSize);
	line-height: 22px;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/* Typography CSS */
a {
	text-decoration: none;
}

a:link,
a:focus,
a:hover {
	color: black;
}

a:visited {
}

p + p {
	margin-top: 15px;
	margin-bottom: 0;
}

select {
	border: 0;
	border-radius: 0;
	font-size: var(--fontSizeMd);
	padding: 5px 10px;
}

/* Helper Class CSS */
.row:after,
.clearfix::after,
.container::after {
	content: "";
	display: table;
	width: 100%;
}

.container {
	max-width: 1265px;
	margin: 0 auto;
	padding: 0 15px;
	outline: 1px solid red;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.d-none {
	display: none !important;
}

.text-muted {
	color: var(--gray) !important;
}

.checked {
	color: var(--yellow);
}

.unchecked {
	color: var(--gray);
}

/* Default button style */
.btn {
	border: 0;
	background-color: var(--blue);
	border-radius: 5px;
	box-shadow: none;
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	min-width: 340px;
	line-height: 24px;
	outline: none;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
}

.btn:hover,
.btn.has-hover {
	background-color: var(--blueHover);
}

.btn:focus,
.btn.has-focus {
	background-color: var(--blueFocus);
}

.btn.disabled,
.btn:disabled {
	cursor: not-allowed;
	opacity: 0.8;
}

.btn.disabled,
.btn:disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn:hover:disabled,
.btn:focus:disabled {
	background-color: var(--gray);
	cursor: not-allowed;
	opacity: 0.8;
}

/* Form CSS Style */
label {
	align-items: flex-end;
	color: var(--black);
	display: flex;
	font-size: 14px;
	margin-bottom: 7px;
	line-height: 16px;
	text-transform: capitalize;
}

.input {
	border: 1px solid var(--black);
	display: block;
	height: 73px;
	line-height: 22px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px 25px;
	width: 510px;
}

.cartProducts .searchBar .input {
	width: 250px;
}

.textarea {
	height: 230px;
}

input::placeholder,
textarea::placeholder {
	align-items: flex-end;
	color: var(--gray);
	display: flex;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: capitalize;
}

.email::placeholder {
	text-transform: lowercase;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px solid var(--blue);
	box-sizing: border-box;
	border-radius: 0px 3px 3px 0px;
}

input:hover,
textarea:hover {
	filter: drop-shadow(0 0 2px var(--blue));
}

/* Header */
header {
	font-size: var(--fontSizeMd);
	position: relative;
}

.cartProducts .row:not(.cartProducts .receipt .row),
header .min-header {
	border-bottom: 2px solid var(--lightGray);
	padding: 15px;
}

.cartProducts .row {
	padding: 15px;
}

.cartProducts .row .total {
	display: inline-block;
	width: 80%;
}

.cartProducts .row:last-child {
	border-bottom: 2px solid var(--lightGray);
}

.cartProducts .receipt .container {
	padding: 10px 0px;
}

.min-header .config {
	float: left;
}

/* User Config */
.min-header .config .dropdown {
	float: left;
}

.min-header .config .dropdown + .dropdown {
	margin-left: 15px;
}

/* User Account */
.min-header .user-account {
	float: right;
}

.user-account .menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-account .menu li {
	float: left;
}

.user-account .menu li:not(:last-child) {
	margin-right: 10px;
}

/* .user-account .menu li:last-child {
  margin-right: 0;
} */

.user-account .menu a {
	color: var(--dark);
	display: block;
	padding: 5px 10px;
}

.user-account .menu span + span {
	margin-left: 20px;
}

/* Navbar CSS */
.navbar {
	padding: 30px 0;
}

.navbar .nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar .nav li {
	float: left;
	position: relative;
}

.navbar .nav li:not(:first-child) {
	margin-left: 70px;
}

.navbar .nav .nav-link {
	font-size: var(--fontSizeLg);
	line-height: 36px;
	padding: 0 10px;
}

.navbar .nav .nav-link:link,
.navbar .nav .nav-link:visited {
	color: var(--dark);
}

.navbar .nav .nav-link:hover,
.navbar .nav .nav-link:focus,
.navbar .nav .nav-link.active,
.navbar .nav .active .nav-link {
	color: var(--blue);
}

/* Brand */
.logo {
	background-color: var(--blue);
	border-radius: 16px;
	display: inline-block;
	height: 44px;
	vertical-align: middle;
	width: 44px;
}

.logo::after {
	border: 6px solid var(--white);
	border-radius: 4px;
	content: "";
	display: block;
	height: 8px;
	margin: 11px auto 0;
	transform: rotate(45deg);
	width: 8px;
}

.brand .name {
	color: var(--dark);
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	margin-top: 10px;
	position: relative;
	vertical-align: top;
}

.nav-item .badge {
	border-radius: 50%;
	background-color: var(--pink);
	color: var(--white);
	font-weight: bold;
	font-size: 10px;
	height: 20px;
	margin-left: -10px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 20px;
}

/* Subcategory */

.nav .nav-item .dropdown {
	background-color: var(--white);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	color: var(--dark);
	display: none;
	left: -50px;
	position: absolute;
	top: 35px;
	z-index: 10;
}

.filters .dropdown {
	background-color: var(--white);
	color: var(--dark);
	display: inline-block;
	margin: 20px 0;
	position: relative;
}

.dropbtn {
	background-color: var(--white);
	border: none;
	color: var(--grayFocus);
	cursor: pointer;
	font-size: 14px;
	position: relative;
	padding: 9px 16px;
	text-align: left;
	width: 100%;
}

.filters .dropdown-content {
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	display: none;
	min-width: 160px;
	position: absolute;
	padding: 12px 16px;
	z-index: 1;
}

.dropdown-content a {
	color: var(--dark);
	display: block;
	text-align: center;
	text-decoration: none;
}

/* .dropdown:hover .dropdown-content {
	display: inline-block;
} */

.dropdown-content a:hover {
	background-color: var(--white);
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* .nav-link:hover + .nav .nav-item .dropdown {
	display: block;
} */

.dropdown table,
.dropdown tr,
.dropdown td {
	border-collapse: collapse;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}

.dropdown table {
	margin: 40px 85px;
}

.dropdown th {
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	padding: 0px 45px;
}

.dropdown td {
	font-size: 16px;
	line-height: 24px;
}

/* Card CSS */

.feature .card {
	float: left;
}

.card .card-title {
	color: var(--darkBlue);
	font-weight: 700;
	font-size: var(--fontSizeMd);
	line-height: 150%;
	left: 175px;
	letter-spacing: 0.5px;
	position: absolute;
	top: 200px;
}
.card-title.title2 {
	left: 575px;
}

.card-title.title3 {
	left: 1025px;
}

.card .card-image {
	line-height: 0;
	position: relative;
}

.card-footer {
	top: 445px;
	left: 175px;
	position: absolute;
}

.footer2 {
	top: 475px;
	left: 685px;
}

.footer3 {
	top: 275px;
	left: 1025px;
}

.discount .old-price {
	font-size: var(--fontSizeMd);
	text-decoration-line: line-through;
}

.discount .off {
	font-weight: bold;
	font-size: var(--fontSizeMd);
	letter-spacing: 0.5px;
	color: var(--pink);
}

.card-footer .price {
	color: var(--blue);
	font-weight: bold;
	font-size: var(--fontSizeXl);
	line-height: 180%;
	letter-spacing: 0.5px;
	margin-left: 185px;
}

.price2 {
	margin-top: -300px;
	margin-left: 115px !important;
}

.price3 {
	margin-top: 155px;
}

/* Footer */

footer {
	background-color: var(--skyBlue);
	min-width: 1400px;
	height: 680px;
}

.footer .footerOffers {
	border-bottom: 2px solid var(--white);
	position: relative;
	margin: 75px 125px 0px;
	padding-bottom: 69px;
	text-align: left;
}
.footer .footerHead {
	margin: 0px 125px 0px;
	padding-top: 75px;
}

.footer th,
.footerOffers .col .head {
	padding-bottom: 30px;
	font-weight: normal;
	font-size: var(--fontSizeMd);
}

.cartProducts .head {
	font-size: var(--fontSizeMd);
	padding-bottom: 20px;
}

.footer td {
	font-size: var(--fontSize);
	line-height: 21px;
}

.footerOffers .col {
	width: 24%;
}

.footerOffers .col,
.cartProducts .col {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.cartProducts .col:first-child {
	width: 60%;
}

.cartProducts .col img:first-of-type {
	margin: 36px 10px;
}

.cartProducts .col {
	width: 13%;
}

.footerOffers .data span {
	display: block;
}

a + p {
	font-size: 12px;
	line-height: 15px;
	max-width: 220px;
	margin-top: 16px;
}

.follow,
.contact {
	margin-top: -150px;
	position: absolute;
}

.follow {
	padding-left: 375px;
}

.contact {
	padding-left: 700px;
}

.follow.contact span {
	font-weight: 500;
	font-size: 18px;
}

.follow p {
	font-size: 12px;
	line-height: 15px;
	max-width: 220px;
}

.contact p {
	font-size: 14px;
	line-height: 21px;
}

.foot span {
	font-size: 14px;
	line-height: 17px;
	padding-left: 150px;
	vertical-align: top;
}
.foot .cards {
	margin-left: 280px;
}

/* Search Field */

.searchBar {
	margin: 96px 435px;
}

.cartProducts .searchBar {
	display: inline-block;
	margin: 90px 0px;
}

.cartProducts .receipt {
	float: right;
	width: 30%;
	padding: 0px 15px;
}

.search-btn {
	border-radius: 0px;
	height: 62px;
	line-height: 20px;
	min-width: 130px;
	margin-top: 0;
	margin-left: 505px;
	padding: 22px 10px;
	position: relative;
}

.cartProducts .searchBar .search-btn {
	margin-left: 245px;
}

.search {
	border-color: var(--blue);
	border-radius: 4px;
	height: 62px;
	padding-top: 16px;
	padding-right: 0;
	position: absolute;
	text-align: left;
}

/* Featured Product */
.featuredProduct,
.latestNews,
.whyUs,
main.bestSeller {
	display: block;
	margin: 30px auto;
}

.featuredProduct h2,
.latestNews h2,
.whyUs .whyus,
main h2,
main nav .m-nav {
	align-items: center;
	text-align: center;
}

.featuredProduct .product,
.latestNews .news,
.bestSeller .cards {
	display: inline-block;
}

.news img,
.whyus img {
	margin: 10px 65px 45px;
	vertical-align: top;
}

.latestNews .news img {
	margin: 20px 25px;
}

.product .content,
.news .content,
.whyus .content {
	display: inline-block;
	max-width: 218px;
}

main.bestSeller .cards {
	max-width: 25%;
}

article .bestSeller .row {
	padding: 0px 25px;
}

.whyus .content {
	display: block;
	text-align: center;
}

.bestSeller .cards {
	margin: 0;
	text-align: center;
}

.cards:first-child {
	margin-left: 25px;
}
.product span:first-child,
.news span:first-child,
.cards .card-title {
	display: block;
}

.product span {
	margin: 5px 0px;
}

.whyus span {
	display: block;
}

.product .title {
	font-size: var(--fontSizeLg);
	line-height: 27px;
}

.discount .old-price {
	font-size: 18px;
	text-decoration-line: line-through;
}

.discount .price {
	color: var(--pink);
	font-weight: bold;
	font-size: var(--fontSizeMd);
	letter-spacing: 0.5px;
}

/* Latest News */

.content span + span {
	font-weight: bold;
	font-size: var(--fontSizeMd);
}

/* Why Us Component */
.content span + p {
	font-size: var(--fontSizeSm);
}

.whyus .content span {
	font-size: var(--fontSizeLg);
}

.row .whyus {
	display: inline-block;
	margin: 0px 90px;
}

/* Best Seller */
.m-nav .main-nav {
	display: inline;
	list-style: none;
	padding: 20px;
}

.m-nav .main-nav a {
	color: var(--black);
	font-size: var(--fontSizeMd);
	line-height: 33px;
	text-decoration: none;
}

.m-nav .main-nav a:hover {
	color: var(--blue);
	text-decoration: underline;
}

.cards .discount .price {
	color: var(--blue);
}

.cards .card-title {
	color: var(--darkBlue);
	font-size: var(--fontSizeMd);
	font-weight: bold;
}

/* Product List page */

.main {
	margin: 50px 0px;
}

.main .dealBar {
	background-color: var(--lightGray);
	color: var(--dark);
	font-size: var(--fontSizeSm);
	line-height: 22px;
	height: 50px;
	margin-bottom: 66px;
	opacity: 0.7;
	padding: 14.5px;
	text-align: center;
	width: 100%;
}

.main .dealBar span:hover,
.main .dealBar span:focus {
	color: var(--blueFocus);
}

.main aside,
.main article {
	float: left;
}

.main aside {
	width: 20%;
}

.main article {
	width: 80%;
}

.main table,
.main tr,
.main td {
	background-color: var(--lightGray);
	margin: 0 auto;
	padding: 10px;
	text-align: right;
	vertical-align: top;
}

.main tr {
	margin-bottom: 15px;
}

.main table {
	border-spacing: 6px;
	margin: 0;
	width: 100%;
}

.main table:not(:first-child) {
	margin: 20px 0px;
}

.main tr:hover {
	color: var(--blue);
}

.main tr:first-child {
	color: var(--dark) !important;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	margin-bottom: 15px;
}

.main td:first-child {
	text-align: left;
}

.main table .cir-color {
	border-radius: 50%;
	background-color: var(--blue);
	height: 29px;
}

.cir-color:hover,
.cir-color:focus,
.circle:hover,
.circle:focus {
	border: 1px solid var(--dark);
}

.blue:hover {
	filter: drop-shadow(0 0 2px var(--blue));
}

.red {
	background-color: var(--red) !important;
}

.red:hover {
	filter: drop-shadow(0 0 2px var(--red));
}

.black:hover {
	filter: drop-shadow(0 0 2px var(--black));
}

.black {
	background-color: var(--dark) !important;
}
.green:hover {
	filter: drop-shadow(0 0 2px var(--green));
}
.green {
	background-color: var(--green) !important;
}
.pink:hover {
	filter: drop-shadow(0 0 2px var(--pink));
}
.pink {
	background-color: var(--pink) !important;
}
.yellow:hover {
	filter: drop-shadow(0 0 2px var(--yellow));
}

.yellow {
	background-color: var(--yellow) !important;
}

.main aside .more {
	background-color: var(--lightGray);
	border-radius: 4px;
	color: var(--dark);
	font-weight: 500;
	font-size: var(--fontSize);
	line-height: 21px;
	min-width: 100%;
	padding: 10px 0px;
}

.main aside .more:hover {
	background-color: var(--grayHover);
}

.main aside .more:focus {
	background-color: var(--gray);
}

.main table .range {
	font-size: 14px;
}

.main table .slider-range {
	width: 100%;
}

.main .filters {
	background-color: var(--lightGray);
	margin: 0 auto;
}

.main .filters span {
	padding: 0 30px;
}

.filters .filter-icons {
	color: var(--gray);
	float: right;
	font-size: 24px;
	padding: 24px 20px;
}

/* Product List */

.main article .productList {
	display: relative;
	padding: 15px;
}

.productList .details {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}

.productList .details .card-title {
	display: block;
	font-weight: 500;
	font-size: var(--fontSizeLg);
	line-height: 36px;
}

.details .review {
	color: var(--gray);
	font-size: 14px;
	line-height: 17px;
	padding: 0px 8px;
}

.details a {
	color: var(--blue);
	font-size: 14px;
	line-height: 17px;
}

.productList .image {
	float: left;
	width: 35%;
}

.productList .details {
	float: right;
	margin-top: -275px;
	padding-left: 10px;
	width: 65%;
}

.productDetail .productList .details {
	margin-top: -375px;
}

.productList .addToCart {
	background-color: var(--skyBlue);
	color: var(--blueFocus);
	min-width: 150px !important;
}

.productList .heart {
	margin-left: 14px;
	min-width: 46px !important;
}

.details .discount .price {
	color: var(--blue);
	display: inline;
}

article .container .row {
	margin: 20px 0px;
}

article .dealBar span {
	opacity: 0.8;
	padding: 15px 30px;
}

article .dealBar span:hover {
	background-color: var(--grayHover);
}

/* Product Display Page */

.main .productDetail article {
	width: 70%;
}

.main .productDetail aside {
	width: 30%;
}

.productDetail .productList .image {
	width: 35%;
}

.productDetail .productList .details {
	font-size: var(--fontSize);
	width: 65%;
}

aside .bestSeller .cards {
	margin: 0px 40px;
}

.details .info span + span {
	margin: 16px 70px;
}

.details .info {
	margin: 8px 0px;
}

.fb {
	background-color: var(--fb);
}

.fb:hover {
	background-color: var(--fbHover);
}

.fb:focus {
	background-color: var(--fbFocus);
}

.productDetail .details .social {
	min-width: 245px;
	margin: 10px 5px;
}

.productList .details .row {
	border-bottom: 2px solid var(--lightGray);
}

.circle {
	border-radius: 50%;
	background-color: var(--blue);
	min-height: 20px;
	min-width: 20px;
	margin-bottom: -5px;
}

.info span + div {
	margin-left: 28px;
}

.info .size {
	margin-left: 100px;
}

.info .size select {
	font-size: 14px;
	line-height: 17px;
}

.info .size option {
	min-width: 120px;
	text-align: left;
}

.info div {
	display: inline-block;
}

.info .circle + .circle {
	margin-left: 14px;
}

.addsub {
	padding: 10px 0px;
	background-color: var(--lightGray);
}

.row .addsub i {
	color: var(--blue);
	font-style: normal;
	font-weight: 400;
	margin: 20px 12px;
}

.row .addsub i:hover {
	color: var(--darkBlue);
}

.row .addsub + .btn {
	margin-left: 180px;
	margin-bottom: 22px;
}

.image .smallImage img {
	max-width: 24%;
}

/* Overlay */

.overlay {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
	cursor: pointer; /* Add a pointer on hover */
	height: 100%; /* Full height (cover the whole page) */
	left: 0;
	position: fixed; /* Sit on top of the page content */
	right: 0;
	top: 0;
	width: 100%; /* Full width (cover the whole page) */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay .heading {
	background-color: var(--white);
	filter: drop-shadow(0 0 3px var(--lightGray));
	margin: 50px 250px;
	padding: 30px 0px;
}

.heading {
	color: var(--blue);
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	text-transform: capitalize;
	text-align: center;
	position: relative;
	padding: 15px;
}

.steps {
	margin: 15px 0px;
}

.steps .square {
	border-radius: 50%;
	background-color: var(--gray);
	color: var(--white);
	display: inline-block;
	opacity: 0.6;
	font-size: var(--fontSizeSm);
	line-height: 34px;
	height: 36px;
	width: 36px;
	padding: 2px;
}

.steps .square:hover {
	background-color: var(--blueFocus);
}

.line {
	height: 3px;
	background-color: var(--gray);
	opacity: 0.6;
	display: inline-block;
	width: 25px;
	margin-bottom: 5px;
}

.formContent {
	margin-top: 30px;
	display: inline-block;
	position: relative;
}

.right {
	margin-top: -82px;
	margin-left: 72px;
	float: right;
}
.formContent input,
.formContent textarea {
	background-color: var(--lightGray);
	border: none;
	border-radius: 4px;
	color: var(--dark);
	height: 50px;
	max-width: 380px;
	margin-bottom: 33px;
}

.formContent textarea {
	height: 125px;
}

.formContent input::placeholder,
.formContent textarea::placeholder {
	font-size: 14px;
	font-weight: 400;
}

.payment span {
	font-weight: 600;
	font-size: var(--fontSizeMd);
	line-height: 23px;
	display: flex;
	align-items: flex-end;
	text-transform: capitalize;
	padding: 5px;
}

.pay-method {
	height: 56px;
	padding: 12px;
	text-align: left;
	color: var(--dark);
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.5px;
	max-width: 380px;
}

.payment div {
	margin-top: 14px;
}

.pay-method:hover {
	background-color: var(--skyBlue);
}

.ph {
	margin-top: -165px;
}

.pay-btn {
	margin-top: 27px;
}

/* Contact Us */

.main .contactUs article,
.main .contactUs aside {
	width: 50%;
	line-height: 0;
}

.main .contactUs article {
	padding: 75px 45px 0px;
}

.contactUs aside img {
	height: 615px;
	width: 615px;
}

/* Payment Successful Page */
.steps .success-square {
	background-color: var(--blue);
	opacity: 0.9;
}

.square-big {
	align-items: center;
	background-color: var(--blue);
	border-radius: 14px;
	box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);
	border-radius: 56px;
	border: 6px solid var(--white);
	color: var(--white);
	display: block;
	font-size: 36px;
	height: 130px;
	margin: 0 auto;
	padding: 32px;
	width: 130px;
}

.message {
	color: var(--fbFocus);
	font-weight: bold;
	font-size: var(--fontSizeLg);
	line-height: 36px;
	margin: 30px;
	text-align: center;
	letter-spacing: 0.5px;
}
