@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

/*
Colors:
    Hex:
            =>      R  G  B
            =>      00 00 00        => 000;
            =>      99 99 99        => 999;
            =>      aa aa aa        => aaa;
            =>      ff ff ff        => fff;

    RGB/RGBa:
            =>      rgb(0, 0, 0);               => Black Color
            =>      rgb(255, 255, 255);         => White Color
            =>      rgba(0, 0, 0, 0/1);         => Black with Transparency
            =>      rgba(255, 255, 255, 0/1);   => White with Transparency
*/

:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #373737;
	--red: #ff4858;
	--pink: #fb7181;
	--blue: #40bfff;
	--blueHover: #79d0fc;
	--blueFocus: #00aaff;
	--skyBlue: #bcddfe;
	--gray: #999999;
	--grayHover: #bbbbbb;
	--grayFocus: #777777;
	--green: #36bc74;
	--lightGray: #eeeeee;
	--darkBlue: #223263;
	--yellow: #ffc600;

	/* Font Size */
	--fontSize: 14px;
	--fontSizeSm: 16px;
	--fontSizeMd: 20px;
	--fontSizeLg: 24px;
	--fontSizeXl: 30px;
}

html {
	scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: "Poppins", sans-serif;
	font-size: var(--fontSize);
	line-height: 22px;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/* Typography CSS */
a {
	text-decoration: none;
}

a:link,
a:focus,
a:hover {
	color: black;
}

a:visited {
}

p + p {
	margin-top: 15px;
	margin-bottom: 0;
}

select {
	border: 0;
	border-radius: 0;
	font-size: var(--fontSizeMd);
	padding: 5px 10px;
}

/* Helper Class CSS */
.row:after,
.clearfix::after,
.container::after {
	content: "";
	display: table;
	width: 100%;
}

.container {
	max-width: 1265px;
	margin: 0 auto;
	padding: 0 15px;
	outline: 1px solid red;
}

.feature .container {
	max-width: 1265px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.d-none {
	display: none !important;
}

.text-muted {
	color: var(--gray) !important;
}

.checked {
	color: var(--yellow);
}

.unchecked {
	color: var(--gray);
}

.btn {
	border: 0;
	background-color: var(--blue);
	border-radius: 5px;
	box-shadow: none;
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	min-width: 340px;
	line-height: 24px;
	outline: none;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
}

.btn:hover,
.btn.has-hover {
	background-color: var(--blueHover);
}

.btn:focus,
.btn.has-focus {
	background-color: var(--blueFocus);
}

.btn.disabled,
.btn:disabled {
	cursor: not-allowed;
	opacity: 0.8;
}

.btn.disabled,
.btn:disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn:hover:disabled,
.btn:focus:disabled {
	background-color: var(--gray);
	cursor: not-allowed;
	opacity: 0.8;
}

/* Form CSS Style */
label {
	align-items: flex-end;
	color: var(--black);
	display: flex;
	font-family: Raleway;
	font-size: 14px;
	margin-bottom: 7px;
	line-height: 16px;
	text-transform: capitalize;
}

.input {
	border: 1px solid var(--black);
	display: block;
	height: 73px;
	line-height: 22px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px 25px;
	width: 510px;
}

.textarea {
	height: 230px;
}

input::placeholder,
textarea::placeholder {
	align-items: flex-end;
	color: var(--gray);
	display: flex;
	font-family: Raleway;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: capitalize;
}

.email::placeholder {
	text-transform: lowercase;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px solid var(--blue);
	box-sizing: border-box;
	border-radius: 0px 3px 3px 0px;
}

input:hover,
textarea:hover {
	filter: drop-shadow(0 0 2px var(--blue));
}

/* Header */
header {
	font-size: var(--fontSizeMd);
	position: relative;
}

header .min-header {
	border-bottom: 1px solid var(--lightGray);
	padding: 15px 0;
}

.min-header .config {
	float: left;
}

/* User Config */
.min-header .config .dropdown {
	float: left;
}

.min-header .config .dropdown + .dropdown {
	margin-left: 15px;
}

/* User Account */
.min-header .user-account {
	float: right;
}

.user-account .menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-account .menu li {
	float: left;
}

.user-account .menu li:not(:last-child) {
	margin-right: 10px;
}

/* .user-account .menu li:last-child {
  margin-right: 0;
} */

.user-account .menu a {
	color: var(--dark);
	display: block;
	padding: 5px 10px;
}

.user-account .menu span + span {
	margin-left: 20px;
}

/* Navbar CSS */
.navbar {
	padding: 30px 0;
}

.navbar .nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar .nav li {
	float: left;
	position: relative;
}

.navbar .nav li:not(:first-child) {
	margin-left: 70px;
}

.navbar .nav .nav-link {
	font-size: var(--fontSizeLg);
	line-height: 36px;
	padding: 0 10px;
}

.navbar .nav .nav-link:link,
.navbar .nav .nav-link:visited {
	color: var(--dark);
}

.navbar .nav .nav-link:hover,
.navbar .nav .nav-link:focus,
.navbar .nav .nav-link.active,
.navbar .nav .active .nav-link {
	color: var(--blue);
}

/* Brand */
.logo {
	background-color: var(--blue);
	border-radius: 16px;
	display: inline-block;
	height: 44px;
	vertical-align: middle;
	width: 44px;
}

.logo::after {
	content: "";
	border: 6px solid var(--white);
	border-radius: 4px;
	display: block;
	height: 8px;
	margin: 11px auto 0;
	transform: rotate(45deg);
	width: 8px;
}

.brand .name {
	color: var(--dark);
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	margin-top: 10px;
	position: relative;
	vertical-align: top;
}

.nav-item .badge {
	border-radius: 50%;
	background-color: var(--pink);
	color: var(--white);
	font-weight: bold;
	font-size: 10px;
	height: 20px;
	position: absolute;
	text-align: center;
	margin-left: -10px;
	top: 10px;
	width: 20px;
}

/* Subcategory */

.nav .nav-item .dropdown {
	background-color: var(--white);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	color: var(--dark);
	left: -50px;
	position: absolute;
	top: 35px;
	z-index: 10;
	display: none;
}

.filters .dropdown {
	background-color: var(--white);
	color: var(--dark);
	display: inline-block;
	position: relative;
	margin: 20px 0;
}

.dropbtn {
	background-color: var(--white);
	border: none;
	color: var(--grayFocus);
	cursor: pointer;
	position: relative;
	font-size: 14px;
	padding: 9px 16px;
	text-align: left;
	width: 100%;
}

.filters .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown-content a {
	text-decoration: none;
	display: block;
	text-align: center;
	color: var(--dark);
}

/* .dropdown:hover .dropdown-content {
	display: inline-block;
} */

.dropdown-content a:hover {
	background-color: var(--white);
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* .nav-link:hover + .nav .nav-item .dropdown {
	display: block;
} */

.dropdown table,
.dropdown tr,
.dropdown td {
	border-collapse: collapse;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}

.dropdown table {
	margin: 40px 85px;
}

.dropdown th {
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	padding: 0px 45px;
}

.dropdown td {
	font-size: 16px;
	line-height: 24px;
}

/* Card CSS */

.feature .card {
	float: left;
}

.card .card-title {
	color: var(--darkBlue);
	position: absolute;
	font-weight: 700;
	font-size: var(--fontSizeMd);
	line-height: 150%;
	left: 175px;
	letter-spacing: 0.5px;
	top: 200px;
}
.card-title.title2 {
	left: 575px;
}

.card-title.title3 {
	left: 1025px;
}

.card .card-image {
	line-height: 0;
	position: relative;
}

.card-footer {
	top: 445px;
	left: 175px;
	position: absolute;
}

.footer2 {
	top: 475px;
	left: 685px;
}

.footer3 {
	top: 275px;
	left: 1025px;
}

.discount .old-price {
	font-size: 18px;
	text-decoration-line: line-through;
}

.discount .off {
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.5px;
	color: var(--pink);
}

.card-footer .price {
	color: var(--blue);
	font-weight: bold;
	font-size: var(--fontSizeXl);
	line-height: 180%;
	letter-spacing: 0.5px;
	margin-left: 185px;
}

.price2 {
	margin-top: -300px;
	margin-left: 115px !important;
}

.price3 {
	margin-top: 155px;
}

/* Footer */

footer {
	background-color: var(--skyBlue);
	min-width: 1400px;
	height: 680px;
}

.footer .footerOffers {
	border-bottom: 2px solid var(--white);
	position: relative;
	margin: 75px 275px 0px;
	padding-bottom: 69px;
	text-align: left;
}

.footer th {
	padding-bottom: 30px;
	font-weight: normal;
	font-size: var(--fontSizeMd);
}

.footer th:not(:last-child) {
	width: 262px;
}

.footer td {
	font-size: 14px;
	line-height: 21px;
}

.footer .footerHead {
	margin: 0 auto;
	padding-top: 120px;
	padding-left: 275px;
}

a + p {
	font-size: 12px;
	line-height: 15px;
	max-width: 220px;
	margin-top: 16px;
}

.follow {
	position: absolute;
	padding-left: 375px;
	margin-top: -150px;
}

.contact {
	position: absolute;
	padding-left: 700px;
	margin-top: -150px;
}

.follow.contact span {
	font-weight: 500;
	font-size: 18px;
}

.follow p {
	font-size: 12px;
	line-height: 15px;
	max-width: 220px;
}

.contact p {
	font-size: 14px;
	line-height: 21px;
}

.foot span {
	font-size: 14px;
	line-height: 17px;
	padding-left: 275px;
	vertical-align: top;
}
.foot .cards {
	margin-left: 280px;
}

/* Search Field */

.searchBar {
	margin: 96px 435px;
}

.search-btn {
	border-radius: 0px;
	height: 62px;
	line-height: 20px;
	min-width: 130px;
	margin-top: 0;
	margin-left: 505px;
	padding: 22px 10px;
	position: relative;
}

.search {
	border-color: var(--blue);
	border-radius: 4px;
	height: 62px;
	min-width: 635px;
	padding-top: 16px;
	padding-right: 0;
	position: absolute;
	text-align: left;
}

/* Featured Product */
.featuredProduct,
.latestNews,
.whyUs,
main.bestSeller {
	display: block;
	margin: 30px auto;
}

.featuredProduct h2,
.latestNews h2,
.whyUs .whyus,
main h2,
main nav .m-nav {
	text-align: center;
	align-items: center;
}

.featuredProduct .product,
.latestNews .news,
.bestSeller .cards {
	display: inline-block;
}

.news img,
.whyus img {
	margin: 10px 65px 45px;
	vertical-align: top;
}

.latestNews .news img {
	margin: 20px 25px;
}

.product .content,
.news .content,
.whyus .content {
	max-width: 218px;
	display: inline-block;
}

main.bestSeller .cards {
	max-width: 25%;
}

article .bestSeller .row {
	padding: 0px 25px;
}

.whyus .content {
	display: block;
	text-align: center;
}

.bestSeller .cards {
	text-align: center;
	margin: 0;
}

.cards:first-child {
	margin-left: 25px;
}
.product span:first-child,
.news span:first-child,
.cards .card-title {
	display: block;
}

.product span {
	margin: 5px 0px;
}

.whyus span {
	display: block;
}

.product .title {
	font-size: var(--fontSizeLg);
	line-height: 27px;
}

.discount .old-price {
	font-size: 18px;
	text-decoration-line: line-through;
}

.discount .price {
	color: var(--pink);
	font-weight: bold;
	font-size: var(--fontSizeMd);
	letter-spacing: 0.5px;
}

/* Latest News */

.content span + span {
	font-weight: bold;
	font-size: var(--fontSizeMd);
}

/* Why Us Component */
.content span + p {
	font-size: var(--fontSizeSm);
}

.whyus .content span {
	font-size: var(--fontSizeLg);
}

.row .whyus {
	display: inline-block;
	margin: 0px 90px;
}

/* Best Seller */
.m-nav .main-nav {
	display: inline;
	list-style: none;
	padding: 20px;
}

.m-nav .main-nav a {
	color: var(--black);
	font-size: var(--fontSizeMd);
	line-height: 33px;
	text-decoration: none;
}

.m-nav .main-nav a:hover {
	color: var(--blue);
	text-decoration: underline;
}

.cards .discount .price {
	color: var(--blue);
}

.cards .card-title {
	color: var(--darkBlue);
	font-size: var(--fontSizeMd);
	font-weight: bold;
}

/* Product List page */

.main {
	margin: 50px 0px;
}

.main .dealBar {
	background-color: var(--lightGray);
	color: var(--dark);
	font-size: var(--fontSizeSm);
	line-height: 22px;
	height: 50px;
	margin-bottom: 66px;
	opacity: 0.7;
	padding: 14.5px;
	text-align: center;
	width: 100%;
}

.main .dealBar span:hover,
.main .dealBar span:focus {
	color: var(--blueFocus);
}

.main aside,
.main article {
	float: left;
	min-height: 500px;
}

.main aside {
	width: 20%;
}

.main article {
	width: 80%;
}

.main table,
.main tr,
.main td {
	background-color: var(--lightGray);
	margin: 0 auto;
	padding: 10px;
	text-align: right;
	vertical-align: top;
}

.main tr {
	margin-bottom: 15px;
}

.main table {
	border-spacing: 6px;
	margin: 0;
	width: 100%;
}

.main table:not(:first-child) {
	margin: 20px 0px;
}

.main tr:hover {
	color: var(--blue);
}

.main tr:first-child {
	color: var(--dark) !important;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	margin-bottom: 15px;
}

.main td:first-child {
	text-align: left;
}

.main table .cir-color {
	border-radius: 50%;
	background-color: var(--blue);
	height: 29px;
}

.main table .cir-color:hover,
.main table .cir-color:focus {
	border: 1px solid var(--dark);
}

.main table .cir-color.blue:hover {
	filter: drop-shadow(0 0 2px var(--blue));
}

.main table .cir-color.red {
	background-color: var(--red);
}

.main table .cir-color.red:hover {
	filter: drop-shadow(0 0 2px var(--red));
}

.main table .cir-color.black:hover {
	filter: drop-shadow(0 0 2px var(--black));
}

.main table .cir-color.black {
	background-color: var(--dark);
}
.main table .cir-color.green:hover {
	filter: drop-shadow(0 0 2px var(--green));
}
.main table .cir-color.green {
	background-color: var(--green);
}
.main table .cir-color.pink:hover {
	filter: drop-shadow(0 0 2px var(--pink));
}

.main table .cir-color.pink {
	background-color: var(--pink);
}
.main table .cir-color.yellow:hover {
	filter: drop-shadow(0 0 2px var(--yellow));
}

.main table .cir-color.yellow {
	background-color: var(--yellow);
}

.main aside .more {
	background-color: var(--lightGray);
	border-radius: 4px;
	color: var(--dark);
	font-weight: 500;
	font-size: var(--fontSize);
	line-height: 21px;
	padding: 10px 0px;
	min-width: 100%;
}

.main aside .more:hover {
	background-color: var(--grayHover);
}

.main aside .more:focus {
	background-color: var(--gray);
}

.main table .range {
	font-size: 14px;
}

.main table .slider-range {
	width: 100%;
}

.main .filters {
	margin: 0 auto;
	background-color: var(--lightGray);
}

.main .filters span {
	padding: 0 30px;
}

.filters .filter-icons {
	float: right;
	font-size: 24px;
	padding: 24px 20px;
	color: var(--gray);
}

/* Product List */

.main article .productList {
	display: relative;
	padding: 15px;
}

.productList .details {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}

.productList .details .card-title {
	display: block;
	font-weight: 500;
	font-size: var(--fontSizeLg);
	line-height: 36px;
}

.details .review {
	font-size: 14px;
	line-height: 17px;
	color: var(--gray);
	padding: 0px 8px;
}

.details a {
	font-size: 14px;
	line-height: 17px;
	color: var(--blue);
}

.productList .image {
	float: left;
	width: 30%;
}

.productList .details {
	float: right;
	margin-top: -275px;
	padding-left: 10px;
	width: 70%;
}

.productList .addToCart {
	background-color: var(--skyBlue);
	color: var(--blueFocus);
	min-width: 150px !important;
}

.productList .heart {
	margin-left: 14px;
	min-width: 46px !important;
}

.details .discount .price {
	color: var(--blue);
	display: inline;
}

article .container .row {
	margin-bottom: 20px;
}

article .dealBar span {
	opacity: 0.8;
	padding: 15px 30px;
}

article .dealBar span:hover {
	background-color: var(--grayHover);
}
